@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Notifyd</h1>
    <table>
        <tr>
            <td valign="top">
                <i class="fa fa-envelope-o fa-4x"></i>
                <br />
                <p><a href="http://notifyd.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
            </td>
            <td valign="middle">
                <p class="lead">Notifyd is a free system notification service.</p>

            </td>
        </tr>
    </table>

</div>

<div class="row">
    @*<div class="col-md-4">
        <h2>Scripts</h2>
        <p>
            Powershell is Microsoft's task automation and configuration management framework, consisting of a command-line shell and associated scripting language built on .NET Framework. PowerShell provides full access to COM and WMI, enabling administrators to perform administrative tasks on both local and remote Windows systems as well as WS-Management and CIM enabling management of remote Linux systems and network devices.
        </p>
        <p><a class="btn btn-default" href="~/Script">Manage Scripts &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cog Servers</h2>
        <p>Running Cogs Server Instances.</p>
        <p><a class="btn btn-default" href="~/CogsServer">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>System Logs</h2>
        <p>Log messages from the Cogs System.</p>
        <p><a class="btn btn-default" href="~/SystemLogs">View Logs &raquo;</a></p>
    </div>*@
</div>
