@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Notifyd</h1>
    <table cellspacing="9" cellpadding="9">
        <tr>
            <td valign="top">
                <i class="fa fa-envelope-o fa-4x"></i>
                <br />
                <p><a href="http://notifyd.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
            </td>
            <td valign="middle">
                <p class="lead">Notifyd is a free system notification service.</p>
                <p>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="notifyddotnet">Tweet</a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>

                    <a href="https://twitter.com/notiyfddotnet" class="twitter-follow-button" data-show-count="false">Follow @@notiyfddotnet</a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
              
                    <!-- Place this tag where you want the widget to render. -->
                    <div class="g-follow" data-annotation="bubble" data-height="24" data-href="//plus.google.com/114211089838833986853" data-rel="publisher"></div>

                    <!-- Place this tag after the last widget tag. -->
                    <script type="text/javascript">
                        (function () {
                            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                            po.src = 'https://apis.google.com/js/platform.js';
                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                        })();
                    </script>
                  </p>
            </td>
        </tr>
    </table>

</div>

<div class="row">
    @*<div class="col-md-4">
            <h2>Scripts</h2>
            <p>
                Powershell is Microsoft's task automation and configuration management framework, consisting of a command-line shell and associated scripting language built on .NET Framework. PowerShell provides full access to COM and WMI, enabling administrators to perform administrative tasks on both local and remote Windows systems as well as WS-Management and CIM enabling management of remote Linux systems and network devices.
            </p>
            <p><a class="btn btn-default" href="~/Script">Manage Scripts &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Cog Servers</h2>
            <p>Running Cogs Server Instances.</p>
            <p><a class="btn btn-default" href="~/CogsServer">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>System Logs</h2>
            <p>Log messages from the Cogs System.</p>
            <p><a class="btn btn-default" href="~/SystemLogs">View Logs &raquo;</a></p>
        </div>*@
</div>
